

*:where(h2, h3) /* show the section fields inline with the heading*/
{
  &:has(+ dl)
  {
    display: inline;
  }

  & + dl
  {
    display: inline-flex !important;
    align-items: baseline;

    opacity: 50%;

    .colon
    {
      display: none;
    }

    dd
    {
      margin-left: 12px !important;
      margin-right: 12px !important;
    }
  }

}
