.wy-nav-content
{
  max-width: 1000px;
}

.wy-nav-side
{
  padding-bottom: 0 !important
}

.wy-side-nav-search a
{
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  
  font-size: 1.25em;

  margin-top: 0.45rem;

  &::before
  {
    content: '';

    display: block;
    height: 2rem;
    width: 2rem;
    margin-left: -2em;

    background-image: url(icon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    image-rendering: pixelated;

  }
}

.ethical-rtd
{
  display: none; /* Remove adverts */
}

*:where(h2, h3)
{
  &:has(+ dl)
  {
    display: inline;
  }

  & + dl
  {
    display: inline-flex !important;
    align-items: baseline;

    opacity: 50%;

    .colon
    {
      display: none;
    }

    dd
    {
      margin-left: 12px !important;
      margin-right: 12px !important;
    }
  }

}

/* h2 + dl
{
  display: inline;
} */

